In [3]:
import pandas as pd
df = pd.read_csv('C:\\Users\\TorrodjaeS\\Documents\\datasettt\\FINAL CTEC 128 DATASET.csv')
df

,OBJECTID,DATE,Allegany,Anne_Arundel,Baltimore,Baltimore_City,Calvert,Caroline,Carroll,Cecil,...,Prince_Georges,Queen_Annes,Somerset,St_Marys,Talbot,Washington,Wicomico,Worcester,Total Cases,Daily New Cases
0,1,03/15/2020 6:00:00 AM,0,2,3,1,0,0,1,0,...,9,0,0,0,0,0,0,0,31,0
1,2,03/16/2020 6:00:00 AM,0,1,4,1,0,0,1,0,...,15,0,0,0,1,0,0,0,37,6
2,3,03/17/2020 6:00:00 AM,0,3,6,1,0,0,1,0,...,14,0,0,0,1,0,0,0,57,20
3,4,03/18/2020 6:00:00 AM,0,4,10,4,0,0,1,0,...,20,0,0,0,1,0,0,0,85,28
4,5,03/19/2020 6:00:00 AM,0,5,12,8,1,0,2,0,...,23,0,0,0,1,0,0,0,107,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1720,1721,11/29/2024 5:00:00 AM,24676,129860,188271,163906,16071,7881,30229,22441,...,250779,9497,6664,26713,7957,42743,27109,11624,1490853,34
1721,1722,11/30/2024 5:00:00 AM,24678,129862,188274,163909,16071,7881,30231,22442,...,250783,9497,6664,26715,7957,42744,27109,11624,1490886,33
1722,1723,12/01/2024 5:00:00 AM,24678,129863,188277,163912,16071,7881,30231,22442,...,250786,9497,6664,26717,7957,42744,27110,11624,1490908,22
1723,1724,12/02/2024 5:00:00 AM,24679,129863,188283,163913,16071,7881,30233,22442,...,250789,9497,6665,26717,7957,42744,27111,11625,1490931,23
1724,1725,12/03/2024 5:00:00 AM,24690,129879,188297,163926,16073,7881,30234,22446,...,250808,9497,6665,26725,7957,42745,27112,11626,1491078,147

In [4]:
df['Baltimore_City'].max()

163926

In [13]:
df['DATE'][df['Total Cases']=='29']

Series([], Name: DATE, dtype: object)

In [14]:
df.fillna(0, inplace=True)
df['Daily New Cases'].mean()

np.float64(864.3750724637681)

In [15]:
rows, columns = df.shape

In [16]:
rows

1725

In [18]:
columns

28

In [31]:
df.head()

,OBJECTID,DATE,Allegany,Anne_Arundel,Baltimore,Baltimore_City,Calvert,Caroline,Carroll,Cecil,...,Prince_Georges,Queen_Annes,Somerset,St_Marys,Talbot,Washington,Wicomico,Worcester,Total Cases,Daily New Cases
0,1,03/15/2020 6:00:00 AM,0,2,3,1,0,0,1,0,...,9,0,0,0,0,0,0,0,31,0
1,2,03/16/2020 6:00:00 AM,0,1,4,1,0,0,1,0,...,15,0,0,0,1,0,0,0,37,6
2,3,03/17/2020 6:00:00 AM,0,3,6,1,0,0,1,0,...,14,0,0,0,1,0,0,0,57,20
3,4,03/18/2020 6:00:00 AM,0,4,10,4,0,0,1,0,...,20,0,0,0,1,0,0,0,85,28
4,5,03/19/2020 6:00:00 AM,0,5,12,8,1,0,2,0,...,23,0,0,0,1,0,0,0,107,22

In [20]:
df.head(2)

,OBJECTID,DATE,Allegany,Anne_Arundel,Baltimore,Baltimore_City,Calvert,Caroline,Carroll,Cecil,...,Prince_Georges,Queen_Annes,Somerset,St_Marys,Talbot,Washington,Wicomico,Worcester,Total Cases,Daily New Cases
0,1,03/15/2020 6:00:00 AM,0,2,3,1,0,0,1,0,...,9,0,0,0,0,0,0,0,31,0
1,2,03/16/2020 6:00:00 AM,0,1,4,1,0,0,1,0,...,15,0,0,0,1,0,0,0,37,6

In [21]:
df.tail()

,OBJECTID,DATE,Allegany,Anne_Arundel,Baltimore,Baltimore_City,Calvert,Caroline,Carroll,Cecil,...,Prince_Georges,Queen_Annes,Somerset,St_Marys,Talbot,Washington,Wicomico,Worcester,Total Cases,Daily New Cases
1720,1721,11/29/2024 5:00:00 AM,24676,129860,188271,163906,16071,7881,30229,22441,...,250779,9497,6664,26713,7957,42743,27109,11624,1490853,34
1721,1722,11/30/2024 5:00:00 AM,24678,129862,188274,163909,16071,7881,30231,22442,...,250783,9497,6664,26715,7957,42744,27109,11624,1490886,33
1722,1723,12/01/2024 5:00:00 AM,24678,129863,188277,163912,16071,7881,30231,22442,...,250786,9497,6664,26717,7957,42744,27110,11624,1490908,22
1723,1724,12/02/2024 5:00:00 AM,24679,129863,188283,163913,16071,7881,30233,22442,...,250789,9497,6665,26717,7957,42744,27111,11625,1490931,23
1724,1725,12/03/2024 5:00:00 AM,24690,129879,188297,163926,16073,7881,30234,22446,...,250808,9497,6665,26725,7957,42745,27112,11626,1491078,147

In [23]:
df.tail(1)

,OBJECTID,DATE,Allegany,Anne_Arundel,Baltimore,Baltimore_City,Calvert,Caroline,Carroll,Cecil,...,Prince_Georges,Queen_Annes,Somerset,St_Marys,Talbot,Washington,Wicomico,Worcester,Total Cases,Daily New Cases
1724,1725,12/03/2024 5:00:00 AM,24690,129879,188297,163926,16073,7881,30234,22446,...,250808,9497,6665,26725,7957,42745,27112,11626,1491078,147

In [24]:
df[2:5]

,OBJECTID,DATE,Allegany,Anne_Arundel,Baltimore,Baltimore_City,Calvert,Caroline,Carroll,Cecil,...,Prince_Georges,Queen_Annes,Somerset,St_Marys,Talbot,Washington,Wicomico,Worcester,Total Cases,Daily New Cases
2,3,03/17/2020 6:00:00 AM,0,3,6,1,0,0,1,0,...,14,0,0,0,1,0,0,0,57,20
3,4,03/18/2020 6:00:00 AM,0,4,10,4,0,0,1,0,...,20,0,0,0,1,0,0,0,85,28
4,5,03/19/2020 6:00:00 AM,0,5,12,8,1,0,2,0,...,23,0,0,0,1,0,0,0,107,22

In [25]:
df.columns

Index(['OBJECTID', 'DATE', 'Allegany', 'Anne_Arundel', 'Baltimore',
       'Baltimore_City', 'Calvert', 'Caroline', 'Carroll', 'Cecil', 'Charles',
       'Dorchester', 'Frederick', 'Garrett', 'Harford', 'Howard', 'Kent',
       'Montgomery', 'Prince_Georges', 'Queen_Annes', 'Somerset', 'St_Marys',
       'Talbot', 'Washington', 'Wicomico', 'Worcester', 'Total Cases',
       'Daily New Cases'],
      dtype='object')

In [26]:
df.DATE

0       03/15/2020 6:00:00 AM
1       03/16/2020 6:00:00 AM
2       03/17/2020 6:00:00 AM
3       03/18/2020 6:00:00 AM
4       03/19/2020 6:00:00 AM
                ...
1720    11/29/2024 5:00:00 AM
1721    11/30/2024 5:00:00 AM
1722    12/01/2024 5:00:00 AM
1723    12/02/2024 5:00:00 AM
1724    12/03/2024 5:00:00 AM
Name: DATE, Length: 1725, dtype: object

In [27]:
df[['DATE','Baltimore','Anne_Arundel']]

                       DATE  Baltimore  Anne_Arundel
0     03/15/2020 6:00:00 AM          3             2
1     03/16/2020 6:00:00 AM          4             1
2     03/17/2020 6:00:00 AM          6             3
3     03/18/2020 6:00:00 AM         10             4
4     03/19/2020 6:00:00 AM         12             5
...                     ...        ...           ...
1720  11/29/2024 5:00:00 AM     188271        129860
1721  11/30/2024 5:00:00 AM     188274        129862
1722  12/01/2024 5:00:00 AM     188277        129863
1723  12/02/2024 5:00:00 AM     188283        129863
1724  12/03/2024 5:00:00 AM     188297        129879

[1725 rows x 3 columns]

In [28]:
df['Baltimore']

0            3
1            4
2            6
3           10
4           12
         ...
1720    188271
1721    188274
1722    188277
1723    188283
1724    188297
Name: Baltimore, Length: 1725, dtype: int64

In [30]:
df['Baltimore'].max()

188297

In [32]:
df['Baltimore'].min()

3

In [33]:
df['Baltimore'].std()

64914.57868153678

In [34]:
df.describe()

,OBJECTID,Allegany,Anne_Arundel,Baltimore,Baltimore_City,Calvert,Caroline,Carroll,Cecil,Charles,...,Prince_Georges,Queen_Annes,Somerset,St_Marys,Talbot,Washington,Wicomico,Worcester,Total Cases,Daily New Cases
count,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,...,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,1725.000000,1.725000e+03,1725.000000
mean,863.000000,15028.168696,82555.824928,119877.786087,102915.976232,9951.506667,5054.002319,19195.248116,13851.844638,25873.725217,...,159564.041159,6091.724058,4400.736232,16347.215072,4918.933913,28400.811594,17103.313623,7519.427826,9.345538e+05,864.375072
std,498.108924,8684.363906,45551.688847,64914.578682,57023.978967,5879.243956,2832.945120,10882.114567,8087.864015,15369.193326,...,84951.600961,3413.130472,2320.531903,9911.608130,2876.246148,15767.499989,9680.363721,4161.513457,5.244203e+05,1527.766272
min,1.000000,0.000000,1.000000,3.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.100000e+01,0.000000
25%,432.000000,6960.000000,43545.000000,65141.000000,52441.000000,4199.000000,2324.000000,9399.000000,6252.000000,10748.000000,...,84608.000000,2976.000000,2582.000000,5990.000000,2146.000000,14483.000000,7604.000000,3616.000000,4.570840e+05,189.000000
50%,863.000000,18428.000000,103584.000000,149509.000000,128817.000000,12718.000000,6522.000000,24271.000000,17408.000000,32720.000000,...,194512.000000,7808.000000,5534.000000,21180.000000,6193.000000,37226.000000,21604.000000,9563.000000,1.171947e+06,497.000000
75%,1294.000000,22392.000000,123069.000000,176504.000000,153069.000000,15201.000000,7469.000000,28862.000000,20972.000000,39697.000000,...,235723.000000,9035.000000,6309.000000,25102.000000,7468.000000,41639.000000,25548.000000,11179.000000,1.401952e+06,989.000000
max,1725.000000,24690.000000,129879.000000,188297.000000,163926.000000,16073.000000,7881.000000,30234.000000,22446.000000,42728.000000,...,250808.000000,9497.000000,6665.000000,26725.000000,7957.000000,42745.000000,27112.000000,11626.000000,1.491078e+06,17872.000000

In [37]:
df[['Baltimore','DATE']][df.DATE==df['DATE'].max()]

      Baltimore                   DATE
1386     179933  12/31/2023 5:00:00 AM

In [38]:
df

,OBJECTID,DATE,Allegany,Anne_Arundel,Baltimore,Baltimore_City,Calvert,Caroline,Carroll,Cecil,...,Prince_Georges,Queen_Annes,Somerset,St_Marys,Talbot,Washington,Wicomico,Worcester,Total Cases,Daily New Cases
0,1,03/15/2020 6:00:00 AM,0,2,3,1,0,0,1,0,...,9,0,0,0,0,0,0,0,31,0
1,2,03/16/2020 6:00:00 AM,0,1,4,1,0,0,1,0,...,15,0,0,0,1,0,0,0,37,6
2,3,03/17/2020 6:00:00 AM,0,3,6,1,0,0,1,0,...,14,0,0,0,1,0,0,0,57,20
3,4,03/18/2020 6:00:00 AM,0,4,10,4,0,0,1,0,...,20,0,0,0,1,0,0,0,85,28
4,5,03/19/2020 6:00:00 AM,0,5,12,8,1,0,2,0,...,23,0,0,0,1,0,0,0,107,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1720,1721,11/29/2024 5:00:00 AM,24676,129860,188271,163906,16071,7881,30229,22441,...,250779,9497,6664,26713,7957,42743,27109,11624,1490853,34
1721,1722,11/30/2024 5:00:00 AM,24678,129862,188274,163909,16071,7881,30231,22442,...,250783,9497,6664,26715,7957,42744,27109,11624,1490886,33
1722,1723,12/01/2024 5:00:00 AM,24678,129863,188277,163912,16071,7881,30231,22442,...,250786,9497,6664,26717,7957,42744,27110,11624,1490908,22
1723,1724,12/02/2024 5:00:00 AM,24679,129863,188283,163913,16071,7881,30233,22442,...,250789,9497,6665,26717,7957,42744,27111,11625,1490931,23
1724,1725,12/03/2024 5:00:00 AM,24690,129879,188297,163926,16073,7881,30234,22446,...,250808,9497,6665,26725,7957,42745,27112,11626,1491078,147

In [39]:
df.index

RangeIndex(start=0, stop=1725, step=1)

In [40]:
df.set_index('DATE')

,OBJECTID,Allegany,Anne_Arundel,Baltimore,Baltimore_City,Calvert,Caroline,Carroll,Cecil,Charles,...,Prince_Georges,Queen_Annes,Somerset,St_Marys,Talbot,Washington,Wicomico,Worcester,Total Cases,Daily New Cases
DATE,,,,,,,,,,,,,,,,,,,,,
03/15/2020 6:00:00 AM,1,0,2,3,1,0,0,1,0,1,...,9,0,0,0,0,0,0,0,31,0
03/16/2020 6:00:00 AM,2,0,1,4,1,0,0,1,0,1,...,15,0,0,0,1,0,0,0,37,6
03/17/2020 6:00:00 AM,3,0,3,6,1,0,0,1,0,1,...,14,0,0,0,1,0,0,0,57,20
03/18/2020 6:00:00 AM,4,0,4,10,4,0,0,1,0,2,...,20,0,0,0,1,0,0,0,85,28
03/19/2020 6:00:00 AM,5,0,5,12,8,1,0,2,0,2,...,23,0,0,0,1,0,0,0,107,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11/29/2024 5:00:00 AM,1721,24676,129860,188271,163906,16071,7881,30229,22441,42722,...,250779,9497,6664,26713,7957,42743,27109,11624,1490853,34
11/30/2024 5:00:00 AM,1722,24678,129862,188274,163909,16071,7881,30231,22442,42722,...,250783,9497,6664,26715,7957,42744,27109,11624,1490886,33
12/01/2024 5:00:00 AM,1723,24678,129863,188277,163912,16071,7881,30231,22442,42723,...,250786,9497,6664,26717,7957,42744,27110,11624,1490908,22
12/02/2024 5:00:00 AM,1724,24679,129863,188283,163913,16071,7881,30233,22442,42723,...,250789,9497,6665,26717,7957,42744,27111,11625,1490931,23
12/03/2024 5:00:00 AM,1725,24690,129879,188297,163926,16073,7881,30234,22446,42728,...,250808,9497,6665,26725,7957,42745,27112,11626,1491078,147

In [41]:
df.set_index('Baltimore',inplace=True)

In [42]:
df

,OBJECTID,DATE,Allegany,Anne_Arundel,Baltimore_City,Calvert,Caroline,Carroll,Cecil,Charles,...,Prince_Georges,Queen_Annes,Somerset,St_Marys,Talbot,Washington,Wicomico,Worcester,Total Cases,Daily New Cases
Baltimore,,,,,,,,,,,,,,,,,,,,,
3,1,03/15/2020 6:00:00 AM,0,2,1,0,0,1,0,1,...,9,0,0,0,0,0,0,0,31,0
4,2,03/16/2020 6:00:00 AM,0,1,1,0,0,1,0,1,...,15,0,0,0,1,0,0,0,37,6
6,3,03/17/2020 6:00:00 AM,0,3,1,0,0,1,0,1,...,14,0,0,0,1,0,0,0,57,20
10,4,03/18/2020 6:00:00 AM,0,4,4,0,0,1,0,2,...,20,0,0,0,1,0,0,0,85,28
12,5,03/19/2020 6:00:00 AM,0,5,8,1,0,2,0,2,...,23,0,0,0,1,0,0,0,107,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188271,1721,11/29/2024 5:00:00 AM,24676,129860,163906,16071,7881,30229,22441,42722,...,250779,9497,6664,26713,7957,42743,27109,11624,1490853,34
188274,1722,11/30/2024 5:00:00 AM,24678,129862,163909,16071,7881,30231,22442,42722,...,250783,9497,6664,26715,7957,42744,27109,11624,1490886,33
188277,1723,12/01/2024 5:00:00 AM,24678,129863,163912,16071,7881,30231,22442,42723,...,250786,9497,6664,26717,7957,42744,27110,11624,1490908,22
188283,1724,12/02/2024 5:00:00 AM,24679,129863,163913,16071,7881,30233,22442,42723,...,250789,9497,6665,26717,7957,42744,27111,11625,1490931,23
188297,1725,12/03/2024 5:00:00 AM,24690,129879,163926,16073,7881,30234,22446,42728,...,250808,9497,6665,26725,7957,42745,27112,11626,1491078,147

In [49]:
df = pd.read_excel("C:\\Users\\Natalya\\Documents\\datasettt\\FINAL CTEC 128 DATASET.xlsx","Sheet1")
df

,Date,Recip_County,Administered_Dose1_Pop_Pct,Cumulative Cases,Administered_Dose1_Recip,Administered_Dose1_Recip_5Plus,Administered_Dose1_Recip_5PlusPop_Pct,Administered_Dose1_Recip_12Plus,Administered_Dose1_Recip_12PlusPop_Pct,Administered_Dose1_Recip_18Plus,...,Census2019_18PlusPop,Census2019_65PlusPop,Bivalent_Booster_5Plus,Bivalent_Booster_5Plus_Pop_Pct,Bivalent_Booster_12Plus,Bivalent_Booster_12Plus_Pop_Pct,Bivalent_Booster_18Plus,Bivalent_Booster_18Plus_Pop_Pct,Bivalent_Booster_65Plus,Bivalent_Booster_65Plus_Pop_Pct
0,2023-05-10 00:00:00,Allegany County,64.7,24690.0,45566.0,15110.0,61.8,14800.0,65.3,14218.0,...,21284.0,4436.0,2620.0,10.7,2596.0,11.4,2539.0,11.9,1432.0,32.3
1,2023-05-10 00:00:00,Anne Arundel County,91.3,129879.0,528981.0,205628.0,85.3,195880.0,89.4,181217.0,...,198836.0,42293.0,52062.0,21.6,50916.0,23.2,49173.0,24.7,22130.0,52.3
2,2023-05-10 00:00:00,Baltimore city,78.0,163926.0,463147.0,31892.0,90.0,30908.0,94.2,29085.0,...,30414.0,11057.0,9942.0,28.0,9877.0,30.1,9713.0,31.9,6265.0,56.7
3,2023-05-10 00:00:00,Baltimore County,84.3,188297.0,697468.0,44800.0,89.4,43754.0,94.0,41817.0,...,43376.0,14757.0,10384.0,20.7,10308.0,22.1,10136.0,23.4,6570.0,44.5
4,2023-05-10 00:00:00,Calvert County,82.7,16073.0,76487.0,1144180.0,95.0,1067289.0,95.0,967571.0,...,808321.0,168702.0,369454.0,37.5,353549.0,39.7,332726.0,41.2,121136.0,71.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3482,Washington County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature':[32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [52]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df = pd.DataFrame(weather_data, columns=["day","temperature","windspeed","event"])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [53]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [55]:
import pandas as pd
df = pd.read_csv('C:\\Users\\Torrodjaes\\Documents\\datasettt\\FINAL CTEC 128 DATASET.csv',nrows=3)
df

,OBJECTID,DATE,Allegany,Anne_Arundel,Baltimore,Baltimore_City,Calvert,Caroline,Carroll,Cecil,...,Prince_Georges,Queen_Annes,Somerset,St_Marys,Talbot,Washington,Wicomico,Worcester,Total Cases,Daily New Cases
0,1,03/15/2020 6:00:00 AM,0,2,3,1,0,0,1,0,...,9,0,0,0,0,0,0,0,31,0
1,2,03/16/2020 6:00:00 AM,0,1,4,1,0,0,1,0,...,15,0,0,0,1,0,0,0,37,6
2,3,03/17/2020 6:00:00 AM,0,3,6,1,0,0,1,0,...,14,0,0,0,1,0,0,0,57,20

In [56]:
df.to_csv('new.csv')

In [57]:
df.to_csv('new.csv', index=False)

In [58]:
df.columns

Index(['OBJECTID', 'DATE', 'Allegany', 'Anne_Arundel', 'Baltimore',
       'Baltimore_City', 'Calvert', 'Caroline', 'Carroll', 'Cecil', 'Charles',
       'Dorchester', 'Frederick', 'Garrett', 'Harford', 'Howard', 'Kent',
       'Montgomery', 'Prince_Georges', 'Queen_Annes', 'Somerset', 'St_Marys',
       'Talbot', 'Washington', 'Wicomico', 'Worcester', 'Total Cases',
       'Daily New Cases'],
      dtype='object')

In [59]:
df.to_csv("new.csv" ,columns=['DATE', 'Baltimore'])

In [60]:
df.to_excel("new.xlsx",sheet_name="stocks", startrow=1, startcol=2)

In [61]:
df_stocks = pd.DataFrame({
    'tickers':['GOOGL', 'WMT', 'MSFT'],
    'price':[845,65,64],
    'pe':[30.37,14.26,30.97],
    'eps':[27.82,4.61,2.12]
})

df_weather = pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [62]:
with pd.ExcelWriter('stocks_weather.xlsx')as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")